.ipynb_checkpoints/
.snakemake/
.DS_Store
.RData
.Rhistory
out
log
slurm-*.out
Rplots.pdf
report.html
config/samples.tsv
config/units.tsv
config/config.yaml
config/config_P1542
config/P1813
mt_GoTChA_ATAC_E5_191_S50
__mt_GoTChA_ATAC_E5_191_S50.mro
resources/AMULET/__pycache__/peakoverlap.cpython-37.pyc
